.currencyContainer {
    display: flex;
    align-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

 .currencyDasboard {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 

button {
  margin-top:20px ;
  padding: 10px 40px;
  border-radius: 10px;
  outline: none;
  background-color: rgb(23, 228, 57);
  font-weight: 700;
  color: white;
  border: 1px solid black;
  font-size: 18px;
}

.button:hover{
    transform: scale(1.1); 
} 


.card {
    border: 1px solid black;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
    background-color: gainsboro;
}

.card-main {
    border: 1px solid black;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
    background-color: rgb(208, 219, 255);
}

.modal {
    display: flex;
}

#card-row {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
}

#sign {
    margin: 0 5px;
}

.delete-btn {
    float: right;
    color: red;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    background: none;
    overflow: hidden;
}

#fullname {
    align-self: flex-end;
    font-size: 12px;
}

#first {
    margin:5px 0;
}

#pressbutton{
    display: flex;
    align-items: center;
}

#addCurrency {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nameflex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input {
    border: 1px solid black;
}

.fix{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}