.currencyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .currencyDasboard {
    margin-top: 30px;
} 


.button {
  margin-top:20px ;
  padding: 10px 40px;
  border-radius: 10px;
  outline: none;
  background-color: rgb(23, 228, 57);
  font-weight: 700;
  color: white;
  border: 1px solid black;
}

.button:hover{
    transform: scale(1.1); 
} 

.all{
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid black;
    padding: 10px;
}

.modal {
    display: flex;
    
}