.body {
  padding: 0;
  margin: 0;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
}

